body{
	display: flex;
	flex-direction: column;
    align-items: center;
	margin: 0;
	padding: 0;
	background-color: #3b4cca;
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
	color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
	
}

main{
	align-items: left;
	/* width: 60%; */
	min-height: 100vh;
	


}



header{
	display: flex;
	width: 100%;
	background-color: #4699FF;
	height: 33vh;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	gap: 2em;

}

.buttonHeader{
	display:flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#buttonFindPokemon, #buttonMyTeam{
	border: 2px solid #3b4cca;
	border-radius: 1em;
	min-width: 10em;
	max-width: 20em;
	min-height: 4em;
	max-height: 6em;
	background-color: #FFCA06;
	margin: 0 0.5em;
}

#buttonFindPokemon:hover, #buttonMyTeam:hover{
	background-color: #b3a125;
	cursor: pointer;
	transition: 0.3s;
}

